In [1]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
import time

In [2]:
path = "../data/uci_calender_2024_raw.csv"

In [3]:
df = pd.read_csv(path)

In [4]:
df

,Date,Event_Link,Event_Name,Counter_Code,Location,Category
0,13 Jan-13 Jan,https://mtbdata.com/comp/israel-cup-1-mishmar-...,Israel Cup 1 Mishmar Haemek,ISR,Mishmar Haemek,C2
1,20 Jan-20 Jan,https://mtbdata.com/comp/momentum-medical-sche...,Momentum Medical Scheme Attakwas Extreme prese...,RSA,Oudtshoorn,C1
2,25 Jan-28 Jan,https://mtbdata.com/comp/costa-blanca-bike-rac...,Costa Blanca Bike Race - CBBR - XCMS,ESP,Calpe (Alicante),S1
3,03 Feb-03 Feb,https://mtbdata.com/comp/volcat-platja-daro-e-...,Volcat Platja D'aro E-1,ESP,Platja D'Aro,C3
4,04 Feb-04 Feb,https://mtbdata.com/comp/xco-cup-elda-04-feb-2...,XCO CUP Elda,ESP,Elda (Alicante),C1
...,...,...,...,...,...,...
319,20 Oct-20 Oct,https://mtbdata.com/comp/south-african-nationa...,South African National Championships - XCM,RSA,Gauteng,CN
320,26 Oct-26 Oct,https://mtbdata.com/comp/israel-cup-5-elad-26-...,Israel Cup 5 Elad,ISR,Elad,C1
321,27 Oct-27 Oct,https://mtbdata.com/comp/cyprus-national-champ...,Cyprus National Championships - DHI,CYP,Macheras,CN
322,01 Dec-01 Dec,https://mtbdata.com/comp/chile-national-champi...,Chile National Championships - DHI,CHI,Temuco,CN
323,08 Dec-08 Dec,https://mtbdata.com/comp/hong-kong-national-ch...,Hong Kong National Championships - DHI,HKG,Hong Kong,CN

In [5]:
df["Location"][0]

'Mishmar Haemek'

In [6]:
address=df["Location"][0]
geolocator = Nominatim(user_agent="Your_Name")
location = geolocator.geocode(address)
#print(location.address)
print((location.latitude, location.longitude))

(32.6105821, 35.1421972)

In [7]:
for i in df["Location"]:
    if str(i) == "nan":
        print(i)

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

In [8]:
latitude = []
longitude = []
for index, row in df.iterrows():
    #time.sleep(4)
    address = row["Location"]
    geolocator = Nominatim(user_agent="Your_Name")
    location = geolocator.geocode(address, timeout=10)
    if location is not None:
        latitude.append(location.latitude)
        longitude.append(location.longitude)
    else:
        latitude.append(np.nan)
        longitude.append(np.nan)

In [9]:
df['Latitude'] = latitude
df['Longitude'] = longitude

In [36]:
#csv_file = "../data/uci_calender_2024.csv"

# Write the DataFrame to a CSV file
#df.to_csv(csv_file, index=False)

In [61]:
#df = pd.read_csv("../data/uci_calender_2024.csv")

In [10]:
df

,Date,Event_Link,Event_Name,Counter_Code,Location,Category,Latitude,Longitude
0,13 Jan-13 Jan,https://mtbdata.com/comp/israel-cup-1-mishmar-...,Israel Cup 1 Mishmar Haemek,ISR,Mishmar Haemek,C2,32.610582,35.142197
1,20 Jan-20 Jan,https://mtbdata.com/comp/momentum-medical-sche...,Momentum Medical Scheme Attakwas Extreme prese...,RSA,Oudtshoorn,C1,-33.590295,22.204206
2,25 Jan-28 Jan,https://mtbdata.com/comp/costa-blanca-bike-rac...,Costa Blanca Bike Race - CBBR - XCMS,ESP,Calpe (Alicante),S1,38.644325,0.046012
3,03 Feb-03 Feb,https://mtbdata.com/comp/volcat-platja-daro-e-...,Volcat Platja D'aro E-1,ESP,Platja D'Aro,C3,41.818469,3.068800
4,04 Feb-04 Feb,https://mtbdata.com/comp/xco-cup-elda-04-feb-2...,XCO CUP Elda,ESP,Elda (Alicante),C1,38.478967,-0.795676
...,...,...,...,...,...,...,...,...
319,20 Oct-20 Oct,https://mtbdata.com/comp/south-african-nationa...,South African National Championships - XCM,RSA,Gauteng,CN,-25.936344,28.081311
320,26 Oct-26 Oct,https://mtbdata.com/comp/israel-cup-5-elad-26-...,Israel Cup 5 Elad,ISR,Elad,C1,32.050199,34.956109
321,27 Oct-27 Oct,https://mtbdata.com/comp/cyprus-national-champ...,Cyprus National Championships - DHI,CYP,Macheras,CN,37.948090,21.880695
322,01 Dec-01 Dec,https://mtbdata.com/comp/chile-national-champi...,Chile National Championships - DHI,CHI,Temuco,CN,-38.736261,-72.590546
323,08 Dec-08 Dec,https://mtbdata.com/comp/hong-kong-national-ch...,Hong Kong National Championships - DHI,HKG,Hong Kong,CN,22.350627,114.184916

In [11]:
# Function to convert date format
def convert_date(row):
    start_date_str, end_date_str = row.split('-')
    
    month_dict = {'Jan': '01', 'Feb': '02', 'Mar': '03', 'Apr': '04', 'May': '05', 'Jun': '06',
                  'Jul': '07', 'Aug': '08', 'Sep': '09', 'Oct': '10', 'Nov': '11', 'Dec': '12'}
    
    year = 2024
    
    start_day, start_month = start_date_str.split()
    start_date = f'{start_day}.{month_dict[start_month]}.{year}'
    
    end_day, end_month = end_date_str.split()
    end_date = f'{end_day}.{month_dict[end_month]}.{year}'
    
    return f'{start_date}-{end_date}'

In [12]:

# Apply the conversion function to the DateColumn
df['Date_Converted'] = df['Date'].apply(convert_date)

In [13]:
df[['StartDate', 'EndDate']] = df['Date_Converted'].str.split('-', expand=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324 entries, 0 to 323
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            324 non-null    object
 1   Event_Link      324 non-null    object
 2   Event_Name      324 non-null    object
 3   Counter_Code    324 non-null    object
 4   Location        314 non-null    object
 5   Category        324 non-null    object
 6   Latitude        308 non-null    float64
 7   Longitude       308 non-null    float64
 8   Date_Converted  324 non-null    object
 9   StartDate       324 non-null    object
 10  EndDate         324 non-null    object
dtypes: float64(2), object(9)
memory usage: 28.0+ KB

In [15]:
#df['Date_Converted'] = pd.to_datetime(df['Date_Converted'], format='%d.%m.%Y-%d.%m.%Y')
df['StartDate'] = pd.to_datetime(df['StartDate'], format='%d.%m.%Y')
df['EndDate'] = pd.to_datetime(df['EndDate'], format='%d.%m.%Y')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324 entries, 0 to 323
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            324 non-null    object
 1   Event_Link      324 non-null    object
 2   Event_Name      324 non-null    object
 3   Counter_Code    324 non-null    object
 4   Location        314 non-null    object
 5   Category        324 non-null    object
 6   Latitude        308 non-null    float64
 7   Longitude       308 non-null    float64
 8   Date_Converted  324 non-null    object
 9   StartDate       324 non-null    datetime64[ns]
 10  EndDate         324 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(2), object(7)
memory usage: 28.0+ KB

In [17]:
df.head()

,Date,Event_Link,Event_Name,Counter_Code,Location,Category,Latitude,Longitude,Date_Converted,StartDate,EndDate
0,13 Jan-13 Jan,https://mtbdata.com/comp/israel-cup-1-mishmar-...,Israel Cup 1 Mishmar Haemek,ISR,Mishmar Haemek,C2,32.610582,35.142197,13.01.2024-13.01.2024,2024-01-13,2024-01-13
1,20 Jan-20 Jan,https://mtbdata.com/comp/momentum-medical-sche...,Momentum Medical Scheme Attakwas Extreme prese...,RSA,Oudtshoorn,C1,-33.590295,22.204206,20.01.2024-20.01.2024,2024-01-20,2024-01-20
2,25 Jan-28 Jan,https://mtbdata.com/comp/costa-blanca-bike-rac...,Costa Blanca Bike Race - CBBR - XCMS,ESP,Calpe (Alicante),S1,38.644325,0.046012,25.01.2024-28.01.2024,2024-01-25,2024-01-28
3,03 Feb-03 Feb,https://mtbdata.com/comp/volcat-platja-daro-e-...,Volcat Platja D'aro E-1,ESP,Platja D'Aro,C3,41.818469,3.068800,03.02.2024-03.02.2024,2024-02-03,2024-02-03
4,04 Feb-04 Feb,https://mtbdata.com/comp/xco-cup-elda-04-feb-2...,XCO CUP Elda,ESP,Elda (Alicante),C1,38.478967,-0.795676,04.02.2024-04.02.2024,2024-02-04,2024-02-04

In [58]:
csv_file = "../data/uci_calender_2024.csv"

# Write the DataFrame to a CSV file
df.to_csv(csv_file, index=False)

In [30]:
df.loc[df['Location'] == "nan", 'Location'] = "Ort unbekannt"

In [32]:
ort = []
for i in df["Location"]:
    if str(i) == "nan":
        ort.append("Ort unbekannt")
    else:
        ort.append(i)

In [34]:
df["Location"] = ort

In [35]:
csv_file = "../data/uci_calender_2024.csv"

# Write the DataFrame to a CSV file
df.to_csv(csv_file, index=False)